/* Main column width */
/* https://wordpress.org/gutenberg/handbook/designers-developers/developers/themes/theme-support/#changing-the-width-of-the-editor */
.wp-block {
	max-width: 100% !important;
}
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
	max-width: 100% !important;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
	max-width: 100% !important;
}

/* Remove annoying top space */
.edit-post-visual-editor {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}